extends layout

block content

  h1= title
  p #{category.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Items

    dl
      each item in category_items
        dt
          a(href=item.url) #{item.name}
        dd #{item.description}
        dd 
          a(href=item.anime.url) #{item.anime.name}

      else
        p This category has no items.
    
    hr
    p
      a(href=category.url+'/delete') Delete Category
    p
      a(href=category.url+'/update') Update Category
